@model IEnumerable<ExcellentTaste.Models.Product>
@using ExcellentTaste.Extensions;
@{
    ViewBag.Title = "Index";
}

<h2>Producten</h2>

<p>
    @*if (User.IsInRole("Administrator"))*@
    @Html.ActionLink("Creëer Nieuw Product", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsumableType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ConsumableType)*@
            @item.ConsumableType.DisplayNameConsumableType()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.VAT)*@
            @item.VAT.DisplayNameVAT()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availability)
        </td>
        <td>
            @*if (User.IsInRole("Administrator"))*@
            @Html.ActionLink("Aanpassen", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
            @*if (User.IsInRole("Administrator"))*@
            @Html.ActionLink("Verwijderen", "Delete", new { id = item.ProductID })
        </td>
    </tr>
}

</table>
